body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  margin-top: 10px;
  margin-bottom: 8px;
  padding: 9px;
  font-size: 20px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 13px;
  

}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 15px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 9px;
  display: block;
  margin-left: 135px;
}